div.SubmissionCritique {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: inline-flex;
}



div.CritiqueAndArticles {
    width: 100vw;
    overflow: hidden;
    background-color: black;
}



div.CritiqueHeader {
    color: white;
    width: 80vw;
    padding: 2%;
}



p.CritiqueHeaderTitle {
    width: 80vw;
    font-weight: bold;
    text-align:center;
}

p.CritiqueHeaderComment {
    width: 60vw;
    margin: auto;
    font-size: 0.8rem;
    text-align: justify;
}



div.CritiqueArticleHolder {
    width: 80vw;
    height: auto;
    display: inline-flex;
}



div.ImprovementList {
    width: 20vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

div.ImprovementHolder {
    padding-left: 1vw;
    color: white;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: white;
    cursor: pointer;
}

div.ImprovementHolder:hover, div.ImprovementHolderSelected {
    margin-left: 0.1vw;
    padding-left: 1vw;
    background-color: rgb(51, 51, 51);
    color: white;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: white;
    cursor: pointer;
}

p.ImprovementTitle {
    font-size: medium;
    font-weight: bold;
}