div.Article {
    width: 100%;
    height: 100%;
    margin: auto;
    background: #ffffff;
    box-shadow: 6px 6px 8px 3px rgba(0, 0, 0, 0.15);
}



p.ArticleTitle {
    padding-top: 3%;
    text-align: center;
    font: 1rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



p.NormalText {
    padding: 0 4% 3% 4%;
    font: 1rem Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.015rem;
    text-align: left;
    white-space: pre-wrap;
}



button.ExpandableText {
    background: #fffebb;
    border: none;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    font: 1em Georgia, 'Times New Roman', Times, serif;
}

button.ExpandableText:hover {
    background: rgb(255, 253, 119);
    border: none;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    font: 1em Georgia, 'Times New Roman', Times, serif;
}



div.Expansion {
    margin: 10% 0 10% 5%;
    font: 1em Georgia, 'Times New Roman', Times, serif;
}